@model TaskFlow.Domain.Entities.Users.Member

@{
    ViewData["Title"] = "CreateMemberView";
     Layout = "_Empty_Layout";
}

@section Menu{
     <menu>
          <h1>CreateMemberView</h1>
          <h4>Member</h4>
          <hr />
          <div class="row">
               <div class="col-md-4">
                    <form asp-action="Create">
                         <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                         <div class="form-group">
                              <label asp-for="Role" class="control-label"></label>
                              <select asp-for="Role" class="form-control">
                                   <option>salut</option>
                              </select>
                              <span asp-validation-for="Role" class="text-danger"></span>
                         </div>
                         <div class="form-group">
                              <label asp-for="Username" class="control-label"></label>
                              <input class="form-control" type="text" placeholder="Username">
                              <span asp-validation-for="Username" class="text-danger"></span>
                         </div>
                         <div class="form-group">
                              <label asp-for="Password" class="control-label"></label>
                              <input asp-for="Password" type="password" placeholder="Password" class="form-control" />
                              <span asp-validation-for="Password" class="text-danger"></span>
                         </div>
                         <div class="form-group">
                              <label asp-for="Email" class="control-label"></label>
                              <input asp-for="Email" type="email" placeholder="Enter email" class="form-control" />
                              <span asp-validation-for="Email" class="text-danger"></span>
                         </div>
                         <div class="form-group">
                              <label asp-for="DataAdded" class="control-label"></label>
                              <input asp-for="DataAdded" class="form-control" />
                              <span asp-validation-for="DataAdded" class="text-danger"></span>
                         </div>
                         <div class="form-group">
                              <input type="submit" value="Create" class="btn btn-primary" />
                         </div>
                    </form>
               </div>
          </div>

          <div>
               <a asp-action="Index">Back to List</a>
          </div>
     </menu>

}

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
