@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}




<div class="modal fade" id="newProjectModal" tabindex="-1" aria-labelledby="newProjectModalLabel" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content bg-dark text-white">
               <div class="modal-header border-0">
                    <h5 class="modal-title text-white" id="newProjectModalLabel">New Project</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
               </div>
               <div class="modal-body">
                    <form method="post">
                         <fieldset>
                              <div class="row mb-3">
                                   <label for="ProjectName" class="col-sm-3 col-form-label text-white">Project Name:</label>
                                   <div class="col-sm-9">
                                        <input type="text" class="form-control bg-secondary text-white border-light" id="ProjectName" name="ProjectName" />
                                        @Html.ValidationMessage("ProjectName")
                                   </div>
                              </div>
                              <div class="row mb-3">
                                   <label for="ProjectDescription" class="col-sm-3 col-form-label text-white">Project Description:</label>
                                   <div class="col-sm-9">
                                        <input type="text" class="form-control bg-secondary text-white border-light" id="ProjectDescription" name="ProjectDescription" />
                                        @Html.ValidationMessage("ProjectDescription")
                                   </div>
                              </div>
                              <div class="text-end">
                                   <button type="submit" class="btn btn-primary">Submit</button>
                              </div>
                         </fieldset>
                    </form>
               </div>
          </div>
     </div>
</div>
